// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  background-color: #42413D;
}

nav.navbar {
  background-color: #FFCE2B;
}

.page-header {
  color: white
}